<html>
<head>
    <title>SP-indumentaryⓇ</title>
    {% load static %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'img/logo.PNG' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <meta name="viewport" content="width=device-width, user-scalabe=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    </head>
    <body>
  <header>
              <nav class= "navegacion">
                 <ul class= "menu">
                     <li><a href="">inicio</a></li>
                      <li><a href="nosotros.html">nosotros</a></li>
                      <li><a href="login">Acceder</a></li>
                     {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                      {% endif %}
                  </ul>
              </nav>
            </header>
        <img src="{% static 'img/logo.PNG' %}" class="logol">
        <br>
        <h1 class="title">Redes sociales</h1>

        <div class="container">

           <div class="card">
            <img src="{% static 'img/eti1.jpg' %}">
              <h4>CAMISETA VISITANTE REAL MADRID 21/22</h4>
              <p>$219.990</p>
              <a href="{% url 'compra' %}">Comprar</a>
            </div>

            <div class="card">
            <img src="{% static 'img/eti2.jpg' %}">
              <h4>CAMISETA VISITANTE JUVENTUS 21/22</h4>
                    <p>$153.993</p>
              <a href="{% url 'compra' %}">Comprar</a>
            </div>

            <div class="card">
            <img src="{% static 'img/eti3.jpg' %}">
              <h4>CAMISETA LOCAL FC BAYERN 21/22</h4>
                    <p>$219.990</p>
              <a href="{% url 'compra' %}">Comprar</a>
            </div>
        </div>
    </body>
</html>