<html>
<head>
    <title>SP-indumentaryⓇ</title>
    {% load static %}
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'img/logo.PNG' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <meta name="viewport" content="width=device-width, user-scalabe=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    </head>
    <body>
  <header>
              <nav class= "navegacion">
                 <ul class= "menu">
                     <li><a href="">inicio</a></li>
                      <li><a href="login">Acceder</a></li>
                     {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                        <li><a href="#">Usuario: {{ user.username }}</a></li>
                      {% endif %}
                  </ul>
              </nav>
            </header>
        <img src="{% static 'img/logo.PNG' %}" class="logol">
        <br>
        <h1 class="title">Sport Shirts</h1>

        <div class="container">

            {% for producto in productos %}
           <div class="card">
            <img src="{{producto.img.url}}">
              <h4>{{producto.description}}</h4>
              <p>$&nbsp;{{producto.cost}}</p>
              <a href="compra/{{producto.id}}">Comprar</a>
            </div>
            {% endfor %}

        </div>
    </body>
</html>