<html>

    <head>

    </head>
    <body>

        <h3>{{ciudad}} - {{ fecha }}</h3>
        <h2>Hola {{ nombre }}</h2>
        <p>
            Gracias Por La compra De:
            <br>
            {{ producto }} Con Valor De {{ precio }}
            <br>
            Por tu compra obtienes un bono del 10% para una proxima compra.
            En los proximos dias sera enviado tu paquete,
            no olvides seguirnos en nuestras redes sociales como @Sp-indumentary
            <br>
            Que tengas un feliz dia
            <br>
            att: Sp-indumentary
        </p>
        <h6>Este Correo Se envia Desde El Proyecto De Shulder Puerta</h6>
    </body>

</html>