<html>

    <head>

    </head>
    <body>

        <h2>{{ciudad}} - {{ fecha }}</h2>
        <h3>Hola Admin</h3>
        <p>
            Te informamos que el usuario {{nombre}} ha comprado:
            <br>
            {{ producto }} Con Valor De {{ precio }}
            <br>
             Se le asigno un cupon del 10% para una proxima compra.
            <br>
             Enviar el pedido en el tiempo oportuno a la ciudad de {{ ciudad }}.
        </p>
        <h6>Este Correo Se envia Desde El Proyecto De Shulder Puerta</h6>
    </body>

</html>